doctype html
html
    head
        title IO chat
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='css/styles.css')
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script.
        $(function () {
            var socket = io();
            $('#chatbox').submit(function () {
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            });
            socket.on('display messages', function (msg) {
                $('#messages').append($('<li>').text(msg));
                var objDiv = document.getElementById("messages");
                objDiv.scrollTop = objDiv.scrollHeight;

                
            });

            let channel = document.cookie.replace(/(?:(?:^|.*;\s*)channel\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            let username = document.cookie.replace(/(?:(?:^|.*;\s*)username\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            function inter(){
                $.getJSON('http://localhost:5000/getStats/' + username + '/' + channel,
                    function (d) {
                        $('#emote').html(d['most_frequent_emote']);
                        $('#phrase').html('');
                        for (var i = 0; i < d['most_frequent_phrase'].length; i++)
                        {
                            $('#phrase').append($('<li>').text(d['most_frequent_phrase'][i]));
                        }

                        $('#summary').html('');
                        for (var i = 0; i < d['text_summary'].length; i++)
                        {
                            $('#summary').append($('<li>').text(d['text_summary'][i]));
                        }

                        $('#top5').html(''); 
                        for (var i = 0; i < d['top_5_emotes'].length; i++)
                        {
                            $('#top5').append($('<li>').text(d['top_5_emotes'][i]));
                        }
                        }
            )};
            setInterval(inter, 1000);
        });
    body
        h1  Io chat
        div.row
            #chatdiv.col-md-6
                ul#messages
                form#chatbox(action='/')
                    #messageBox.row
                        input#m(autocomplete='off').col-md-10
                        button.col-md-2 Send

            #statsdiv.col-md-6
                div.row
                    div.card.col-md-6
                        div.card.body
                            h5.card-title Most Frequent Emote
                            div#emote 
                    div.card.col-md-6
                        div.card.body
                            h5.card-title Most Frequent Phrases 
                            ol#phrase
                div.row
                    div.card.col-md-6
                        div.card.body
                            h5.card-title Top 5 Emotes
                            ol#top5
                    div.card.col-md-6
                        div.card.body
                            h5.card-title Summary
                            ul#summary 
 



