#messages {
      list-style:none;
      min-height:500px;
      max-height:500px;
      overflow-y:scroll;
      overflow-x:hidden;
}

#messages {
  padding-left: 3;
  padding-right: 3;
}

#messages li:nth-child(odd) {
    background: #eee;
}

div.card.body {
  min-height: 200px;
  border-width: 0px;
}

