body {
    font: 13px Helvetica, Arial;
}

h1 {
    background: #eee;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#chatdiv {
    width: 70%;
    position: absolute;
    bottom: 0;
    padding: 10%;
}

#messageBox input{
    width: 80%
}

#messageBox button {
    width: 18%
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#info {
    position: absolute;
    right: 0;
    z-index: 3;
}


#info label {
    display: block;

}

#info input {
    display: block;
    width: 100%
}
